<div class="inputs" id="platformsInputs">
	{{#each inputs}}
		<input type="checkbox" id="platforms_{{name}}" value="{{name}}" name="platforms" {{#if checked}}checked="checked" {{/if}} /><label for="platforms_{{name}}" class="checkbox inline"> {{name}}	</label>
	{{/each}}
</div>
