<h3>Banners:</h3>
<table class="table table-striped">
	<caption>Banners view</caption>
	<thead>
	<tr>
		<th>Name</th>
		<th>Vendor</th>
		<th>Time_end</th>
		<th>Time_end</th>
		<th>Hours</th>
		<th>Countries</th>
		<th>Platforms</th>
		<th>Counter</th>
		<th>Price</th>
		<th>Remove</th>
	</tr>
	</thead>
	<tbody id="bannersPH">
	</tbody>
</table>
<button class="btn btn-large btn-primary" type="button" id="createBanner">Create new Banner</button>

